fastapi
uvicorn[standard]
gunicorn
sqlmodel
pydantic
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pymysql
pytest
httpx
python-dotenv
redis
requests
openai
reportlab
captcha
pycryptodome
